<table width="650" cellpadding="0" cellspacing="0" style="font-size:16px;">
  <tr>
    <td width="23"></td>
    <td width="606" valign="top" style="padding:10px 20px;">
      <br/>

      Bonjour,<br/><br/><br/><br/>
      Un médecin souhaite créer son compte utilisateur sur l'extranet {{ site.name }}.<br/><br/>
      Voici les informations qu'il nous a transmis :<br/><br/>
      {{ '- Numéro RPPS : '~data.rpps }}<br/><br/>
      {{ '- Email : '~data.email }}<br/><br/>
      {{ '- Nom : '~data.nom }}<br/><br/>
      {{ '- Prénom : '~data.prenom }}<br/><br/>
      {{ '- Spécialité : '~data.specialite }}<br/><br/>
      {{ '- Adresse : '~data.adresse }}<br/><br/>
      {{ '- Code postal : '~data.cp }}<br/><br/>
      {{ '- Ville : '~data.ville }}<br/><br/>
      {{ '- Téléphone : '~data.tel }}<br/><br/>
      {{ '- Fax : '~data.fax }}<br/><br/>
      Cordialement.
    </td>
    <td width="21"></td>
  </tr>
</table>