<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Extranet {{ site.name }}</title>
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi"/>
    <meta name="format-detection" content="telephone=yes"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!--
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    -->
    <link href="{{ asset('css/Promed.f6fac706.css') }}" type="text/css" rel="stylesheet"/>
    {% block stylesheets %}{% endblock %}

    <script src="{{ asset('js/jquery.3.6.min.js') }}"></script>
    <script src="{{ asset('js/popper.2019.min.js') }}"></script>
    <script src="{{ asset('js/boostrap-4.3.min.js') }}"></script>
    <script src="{{ asset('css/Promed.49ec57cc.js') }}"></script>
    <script src="{{ asset('js/jquery/jquery.mask.js') }}"></script>
    {% block javascripts %}{% endblock %}

</head>
<body class="nav-md">

<!-- MODAL VIDEO -->
<div class="modal fade" id="modal-validation" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button lienModalLow" onclick="document.location.href='{{ path('homepage') }}';"
                        class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <h3>Confirmation de la demande de création de votre compte extranet</h3>
                <p>Votre inscription à l’extranet sera validée dans les 24h ouvrées et vous pourrez ainsi accéder au
                    suivi de vos patients.</p>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-validation-patient" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button lienModalLow" onclick="document.location.href='{{ path('homepage') }}';"
                        class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                {% if message is defined and message is not null %}
                    {{ message|raw }}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<!-- END MODAL VIDEO -->

<main role="main">
    <div class="path-frontpage">
        <div class="container">
            <div class="max-width">
                {% block app_body %}{% endblock %}
                <div class="" style="padding:0 10%;">
                    <center>
                        ​<br/>​<br/>
                        <p style="color:#FFF;text-align: justify;">

                            PATIENTYS est responsable du traitement de vos données dans le cadre de l’action
                            d’{{ site.type }} {{ site.name }}.
                            Vos données d’identification et relatives à votre vie professionnelle sont collectées et
                            traitées afin de gérer votre participation à l’action d’{{ site.type }} opéré par PATIENTYS,
                            de satisfaire aux obligations légales de Patientys (notamment au regard de son obligation de
                            transparence des liens d’intérêt) et de vous adresser des communications en lien avec
                            votre activité professionnelle. Vos informations sont strictement destinées: aux patients
                            participants, aux membres du personnel de Patientys, spécifiquement habilités,
                            dans le strict respect de leurs missions ; aux personnes habilitées au titre des tiers
                            autorisés (les juridictions concernées, les arbitres, les médiateurs, les ministères
                            concernés…).
                            Vos données à caractère personnel sont stockées et sont conservées pendant toute la durée de
                            la participation du patient a l’action d’accompagnement auprès d’un hébergeur de données de
                            santé certifié Cis Valley. A l’issue de cette période, et sauf opposition de votre part, vos
                            données seront utilisées afin de vous proposer des informations en lien avec votre activité
                            professionnelle et/ ou aux services opérés par Patientys. Conformément au Règlement UE
                            2016/679 du parlement européen, relatif à la protection des personnes physiques à l’égard du
                            traitement des données à caractère personnel et à la libre circulation de ces données, vous
                            pouvez à tout moment nous demander l’accès à vos données à caractère personnel, leur
                            rectification, leur effacement, leur portabilité. Vous pouvez aussi limiter ou vous opposer
                            à leur traitement et introduire une réclamation auprès de la CNIL. Pour plus d’information
                            ou pour exercer vos droits, vous pouvez nous contacter par courriel: <a
                                    style="display: inline;color:#FFF;"
                                    href="mailto:Privacy@test.com">Privacy@test.com</a>​
                            ou par courrier à Patientys, Data Protection Officer– Délégué à la Protection des Données,
                            31 rue des longs prés 92100 Boulogne Billancourt. Les informations delivrées dans le programme d’accompagnement sont sous la responsabilité unique et exclusive de l’ADIIS.
                        </p>
                        ​<br/>
                        <a href="{{ path('app_mentions_legales') }}" target="_blank">
                            <button type="button" class="btn btn-primary-light">Mentions légales</button>
                        </a>
                        ​<br/>

                    </center>
                </div>
            </div>
        </div>
    </div>
</main>

<!--------------------------------------------------   END container PRINCIPAL    -------------------------------------------------->

</body>
</html>